@charset "UTF-8";

body {
    background-color: #0eafae;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

h1 {
    color: antiquewhite;
}

h2 {
    color: antiquewhite;
}

h3 {
    color: antiquewhite;
}

p {
    text-align: justify;
}